﻿
@{
    ViewBag.Title = "Teset2";
}

@using (Html.BeginForm("Action", "Controller", FormMethod.Post))
{
    
    <p>姓名:@Html.TextBox("name");</p>
    <p>帳號:@Html.TextBox("account");</p>
    <p>密碼:@Html.TextBox("password");</p>
    <p>性別:@Html.RadioButton("boy", "0");男性 @Html.RadioButton("girl", "0");女性</p>
    <p>興趣:@Html.CheckBox("swim", false);游泳 @Html.CheckBox("swim", false);閱讀 @Html.CheckBox("swim", false);看電影</p>
    <p>自我介紹:@Html.TextArea("dd");</p>

}


