﻿
@{
    ViewBag.Title = "Test1";
}
<form action="/Controller/Action"  method="post">
    姓名: <input type="text" name="name" value="" /> <br /><br />
    
    帳號: <input type="text" name="account" value="" /> <br /><br />

    密碼: <input type="password" name="paw" value="" /> <br /><br />

    性別: <input type="radio" name="boy" value="" />男性 <input type="radio" name="girl" value="" />女性 <br /><br />

    興趣: <input type="checkbox" name="swim" value="" />游泳 <input type="checkbox" name="read" value="" />閱讀 <input type="checkbox" name="movie" value="" />看電影 <br /><br />

    自我介紹: <textarea rows="2" cols="15"></textarea>
</form>